@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    font-family: 'Anton', sans-serif!important;
}

header {
    background-color: red;
    padding: 10px;
}

body {
    background: url(../images/bar-wall.jpg) no-repeat center center fixed;
    background-size: cover;
    max-height: 100vw;
}

main {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h2 {
    color: white;
}

.button {
    padding: 30px!important;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 10px;
}