body {
    background: url(../images/bar-wall.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    padding: .7rem 1rem;
    font-weight: 700;
    line-height: 1;
    font-size: 2rem;
    font-family: 'Niconne', cursive;
    text-align: center;
    background: red;
    
    margin-bottom: 0;
}
/* .top-bar {
   
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;
    background: none;
    padding: 0;
} */
/* .menu {
    background-color:none;
    color: white;
}
.cocktail-list ul {
    background: red;
    text-transform: uppercase;
    
    width: 50%;
}

.menu li a:not(.button) {
    background: none;
    line-height: 58px;
    padding: 0 27px;
    color: white;
    font-size: 20px;
} */

section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    /* background-repeat: no-repeat; */
    background-image: url('../images/4.jpeg');
}
