

h1 {
    padding: .7rem 1rem;
    font-weight: 700;
    line-height: 1;
    font-size: 2rem;
    font-family: 'Niconne', cursive;
    text-align: center;
    background: red;
    
}
.top-bar {
   
    height: 58px;
    line-height: 58px;
    margin-bottom: 0;
    
    
}
 
.cocktail-list ul {
    background: red;
    text-transform: uppercase;
    
    width: 50%;
}
.cocktail-list ul li{
    font-size: 5rem;
   }
.cocktail-list a:not(.button) {
    background: none;
    line-height: 58px;
    padding: 0 27px;
    color: white;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    


    background-image: url('../images/cocktail-background.jpg');

    

}

