header {
    background-color: red;
    padding: 10px;
}

.jumbotron {
    height: 60vh;
    background: url(../images/bar-wall.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 20px;
}

.jumbotron h2 {
    font-size: 70px;
    width: auto;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    color: white;
}

.cell {
    width: 25%;
}